<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/password_boot.css">
    <link rel="stylesheet" href="../static/login_boot.css">
    <link rel="stylesheet" href="../static/login.css">
    <!---<link rel="stylesheet" href="../static/css/password.css">--->
</head>
<div class="change-password">
        <div class="card-header">
            <header>
                <h1>Change Your Password</h1>
                <p>Please enter new login details below to reset your password</p>
            </header>
        </div>
        <div class="card-body wrapper fadeInDown">
            <form>
                <div class="form-group wrapper fadeInDown">
                    <label for="pwd">Email</label>
                    <input type="email" id="pwd" name="pwd" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pwd">New Password</label>
                    <input type="password" id="pwd" name="pwd" class="form-control">
                    <span class="form-text small text-muted">The password must be 8-20 characters, and must <em>NOT</em> contain spaces.
                    </span>
                </div>
                <div class="form-group">
                    <label for="pwd">Verify</label>
                    <input type="password" id="pwd" name="pwd" class="form-control">
                    <span class="form-text small text-muted">To confirm, type the new password again.
                    </span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn" data-toggle="modal" data-target="http://127.0.0.1:5000/login" Value="Click to verify">
                </div>
            <div class="modal" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Please enter the following information.</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>
              <div class="modal-body">
                  <asp:Label ID="Label1" runat="server">Enter your mother's maiden name</asp:Label>
                  <input type="text" id="mname" name="mname">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn-primary" data-dismiss="modal">Submit</button>
                <button type="button" class="btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
     </form>
            <footer>
        <h3>AIWOO Statistics Est. 2020 ©</h3>
            </footer>
</div>